* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: #eef2f6;
  font-family: rubik-light, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
