/* General */
input {
  width: 270px;
  height: 20px;
}

textarea {
  height: 30px;
  width: 270px;
}

/* Helpers */
.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-top {
  margin-top: 10px;
}
